#logo-div {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}

#svg-logo, #png-logo {
    height: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
}

#top-nav-div {
    width: 100%;
    padding: 10px;
}

#top-nav {
    text-align: center;
}

.top-nav-item {
    padding: 10px 40px;
    color: dimgrey;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 20pt;
    text-decoration: none;
}