/*  Brown: 78, 54, 41; #4E3629
    Red: 237, 28, 36; #ED1C24
    Gold: 255, 199, 44; #FFC72C
    Gray: 152, 164, 174; #98A4AE

    Sky Blue: 89, 203, 232; #59CBE8
    Emerald: 0, 179, 152; #00B398
    Navy: 0, 60, 113; #003C71
    Taupe: 183, 176, 156; #B7B09C
*/
    

p {
    font-family: 'Lato', sans-serif;
    font-size: 
}

body {
    margin: 0;
    background-image: url('../assets/splash_background_faded.png');
    background-size: cover;
}

#header-div {
    position: fixed;
    top: 20px;
    width: 80%;
    padding: 0 10%;
}

#svg-logo, #png-logo, #top-nav {
    display: inline-block;
    height: 150px;
    float: left;
}

#top-nav {
    vertical-align: middle;
}

.top-nav-link {
    display: inline-block;
    margin: 0 20px;
    padding: 10px;
    color: #FFFFFF;
    background-color: #4E3629;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 18pt;
    text-decoration: none;
    vertical-align: middle;
    transition: 0.5s;
}

.top-nav-item:hover {
    color: #ED1C24;
}

#content-frame {
    visibility: hidden;
    display: none;
}