:root {
    --red: rgba(237, 28, 36, 1);
    --brown: rgba(78, 54, 41, 1);
    --gold: rgba(255, 199, 44, 1);
    --gray: rgba(152, 164, 174, 1);
    --offwhite: rgba(239, 232, 241, 1);
    --transparent: rgba(255, 255, 255, 0);
    
    --inner: var(--transparent);
    --outer: var(--offwhite);
    --inner-hover: white;
    --outer-hover: var(--red);
    --nav-accent-red: rgba(237, 28, 36, 0.5);
    --header-width: 250px;
    --nav-item-border: 0px solid var(--brown);
}

body {
    margin: 0;
}

* {
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Freight Sans', 'Calibri', sans-serif;
}

#wrapper {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: stretch;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 20px 0 20px 0;
    width: var(--header-width);
    font-family: 'Freight Sans', 'Josefin Sans', 'Minion Pro';
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

#logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 200px;
}

#logo-wrapper * {
    display: block;
    flex-shrink: 1;
    text-align: center;
}

#logo-link {
    display: flex;
    flex-basis: 200px;
    flex-direction:column;
    flex-shrink: 1;
}

nav {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content:stretch;
    flex-basis: 400px;
    
    
    
}

nav a {
    display:flex;
    padding: 0 10%;
    text-align: left;
    background-color: var(--inner);
    color: var(--outer);
    flex-grow: 1;
    vertical-align: middle;
    align-items: center;
    font-family: 'Freight Sans', Georgia, Serif;
}

nav a:hover {
    background-color: var(--inner-hover);
    color: var(--outer-hover);
}


#bottom.spacer {
    flex-basis: 20px;
    flex-grow: 1;
}

#top.spacer {
    flex-basis: 20px;
}

#sidebar-footer {
    min-height: 48px;
    width: 100%;
    margin-top: 0;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
}

    #sidebar-footer svg {
        width: 48px;
        height: 48px;
    }

    header svg .inner { 
        fill: var(--inner);
    }

    header svg .outer { 
        fill: var(--outer);
    }


    header svg:hover .inner { 
        fill: var(--inner-hover);
    }

    header svg:hover .outer { 
        fill: var(--outer-hover);
    }

header * { 
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

#header-background {
    width: var(--header-width);
    background-color: var(--brown);
}

h1 {
    font-family: 'Freight Sans', 'Calibri', 'Georgia', sans-serif;

section {
    min-height: 600px;
    width: calc(100vw - var(--header-width));
}

section.main {
    min-height: 100vh;
    background-color:var(--gold);
    display: -webkit-flex;
    display: flex;
    padding: 50px;
}

section.pic {
    height: 90vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#home {
    background-image: url('../images/team_mounted_small.jpg');
    height: 100vh;
}

#players {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: space-around;
}

#players .bio {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    flex-basis: 200px;
    
    flex-wrap: wrap;
    align-content: center;
}

#players .bio img {
    flex-basis: 100px;
    width: 100px;
}

#players .bio span {
    width: 100px;
}

#p1 {
    background-image: url('../images/bryn_flag_small.jpg');
}

#p2 {
    background-image: url('../images/gunbir_smash_small.jpg');
}

#p3 {
    background-image: url('../images/team_photo_small.jpg');
}

#p4 {
    background-image: url('../images/paddocks_small.jpg');
}

#p5 {
    background-image: url('../images/squeegee_small.jpg');
}
